@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw;
}

body{
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
    overflow-y: hidden;
    overflow-x: hidden;
}


main{
    height: 90vh;
    position: relative;
}

section#telefone{
    height: 750px;
    width: 349px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background: url('../imagens/frame-iphone.png')no-repeat;
}


iframe#tela{
    position: relative;
    top: 80px;
    left: 23px;
    height: 63%;
    width: 77%;
}


section#redeso{
    text-align: right;
}

section#redeso img {
     width: 50px;
     margin: 10px;
     border-radius: 50%;
     box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.322);
     box-sizing: border-box;
}


section#redeso img:hover{
    border: 2px solid rgba(255, 255, 255, 0.363);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.473);
    transition: transform 0.5s;
}